# pakai PHP 8.1 dan composer
[phases.setup]
nixPkgs = ["php81", "composer"]

[phases.build]
cmds = [
  "composer install --no-dev --optimize-autoloader"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
