[phases.setup]
nixPkgs = [
  "php81",
  "php81Packages.composer",
  "php81Extensions.mbstring",
  "php81Extensions.bcmath",
  "php81Extensions.xml",
  "php81Extensions.curl"
]

[phases.build]
cmds = [
  "composer install --no-dev --optimize-autoloader"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
